NEXT_PUBLIC_SUPABASE_URL=https://ojgapdjobnflcawfshir.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZ2FwZGpvYm5mbGNhd2ZzaGlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NzI2ODEsImV4cCI6MjA4OTM0ODY4MX0.d94ZoZ-hcIqcRGRHCvfgm691758BlOgQp9vlcLzVGzQ
NEXTAUTH_SECRET=locasystem-secret-2026
NEXTAUTH_URL=https://locacao.kanoffsolucoes.com.br
